body {
  background-image: url("/static/bg.jpg");
  font-size: 1.25rem;
  font-weight: 600;
}

a {
  color: var(--color-link);
}

header,
footer,
section {
  padding: var(--space-s) var(--space-l);
}

section {
  margin: 0 auto;
  max-width: var(--width-content);
}

section h1 {
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav > a {
  font-size: 200%;
}

nav li a {
  font-size: 125%;
  text-transform: lowercase;
}

nav.alternatives li a {
  font-size: 80%;
}

div.social {
  text-align: center;
}

div.social a + a {
  margin-inline-start: var(--space-s);
}

div.social svg path {
  fill: none;
  stroke: var(--color-text);
  stroke-dasharray: none;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-width: 1.5;
}

@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
  }

  nav ul li + li {
    margin-inline-start: var(--space-l);
  }

  nav.alternatives ul {
    justify-content: flex-end;
  }
}
